body
{
    background-color:var(--neutral-95);
    color: var(--neutral-10);
    padding: var(--space-layout-xs) 0px 0px 0px;
    margin:0 auto;
    text-align: center;
}
.tabnav
{
    display:flex;
    flex-direction: row;
    border-radius: 48px;
    border:1px solid var(--neutral-50);
    padding:6px 6px;
    gap:24px;
      justify-content: center;
width: fit-content;
    margin:0 auto;
    margin-bottom: 48px;
}
.MainH1
{
    margin-bottom:24px;
}
.tabnav button
{
    padding:12px 24px;
    font-size:var(--base-18);
    background-color:var(--neutral-100);
    color:var(--neutral-10);
    border:none;
}
.tabnav .active
{
    background-color:var(--neutral-75);
    color:var(--neutral-10);
    border:none;
}
#notes
{
    display:none;
    border:3px solid green;
}
.general-container-kanban
{
    display:flex;
    flex-direction:row;
      align-items: center;
    gap:24px;
    justify-content: center;
    align-items: flex-start; 
}
.general-container-notes
{
   display:none;
margin:24px;
    flex-direction: column;
    max-height: 100%;
    height:calc(100vh - 214px);
    
}
.general-container-notes button
{
    padding:4px; 
    border-radius: 24px;
    width:fit-content;
    margin-inline-start:auto;
    text-align: end;
    margin-bottom: 16px;
    border-radius: 64px;  
    background-color: var(--neutral-80);
    border:none;
}
.general-container-notes button object
{
    width: 64px;
    height: auto;
}


.general-container-notes .canva
{
    background-color: var(--neutral-80); 
    width: 100%;  
    flex-grow: 2;
    border-radius: 24px;
    flex-grow: 1;
}
#container-to-do, #container-doing, #container-done
{
        background-color:var(--neutral-80);
   /* margin:0 auto;*/
    padding:var(--space-layout-sm) 0px;
      /*  display:flex;
    flex-direction: column;*/
        max-width:480px;
    width: 100%;
    border:1px solid var(--neutral-60);
    border-radius:16px;

}
.header
{
    display:flex;
    flex-direction: row;
    padding:0px 24px;
}
.header input
{
    flex-grow: 1;
}
.content-to-do
{
}
input
{
    padding:12px 8px;
    background-color: var(--neutral-100);
    border: none;
    color:white;  
    width: auto;
    border-radius: 48px;
}
input:focus
{
    border: 3px solid var(--primary-30);
    outline: none;
}
button
{
    padding:12px 16px;
    border-radius: 24px;
    font-size:var(--base-18);
}

#list, #listDoing, #listDone
{
   
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:8px;
    padding:0px 24px;
}
#list li, #listDoing li, #listDone li
{
    padding: 12px 0px;
    display:flex;
        gap:8px;
        border-bottom: 1px solid var(--neutral-100);
    align-items: center;
}
.check-style
{
    width: 24px;
    height: 24px;
    padding: 8px;
    border:3px solid red;
    outline: none !important;
    accent-color: var(--primary-30);

}

.delete-button, .move-button
{
     border-radius: var(--button-primary-radius);
  cursor: pointer;
  border: 0;
font-family:var(--font-family-primary);
  letter-spacing: var(--letter-spacing-primary);
  font-size: var(--font-size-sm);
color:var(--primary-30);
    border: var(--button-primary-border);
    font-weight: var(--weight-regular);
    text-decoration: none;
    background-color: transparent;
    margin-left:24px;
     margin-left: auto;
}
.to-do-text
{
    flex-grow: 1;
    text-align:left;
}
.button-icon-only {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--base-48); /* Square buttons */
  aspect-ratio: 1; /* Perfect squares */
}
.button-icon-only::before {
content: var(--icon-content);
font-family: 'Material Icons';
}
/* Size variants */
.button-icon-only
{
font-size:24px !important;
    padding:0px !important;
}
.button-icon-drag::before {
--icon-content: 'drag_indicator';
}
.button-icon-delete::before
{
    --icon-content:'delete';
}
#btn-AddIcon
{
    background-color:var(--neutral-100);
}
btn-AddIcon::before
{
   --icon-content:'delete'; 
}
#btn-AddIcon object {
    pointer-events: none;
}
#canvas
{
  
}
#GhostSvg
{
    width: 64px;
    height: auto;
    display:none;
    /*display:block;*/
    position: absolute;
    /*left:1444px; 
    top:666px;*/
}